nav {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
    align-items: center;
    height: 15%;
}

nav input {
    flex: 0.4;
    padding: 8px;
    border-radius: 8px;
    position: relative;
}

.search-results {
    position: absolute;
    top: 80px;
    background-color: black;
    height: 70px;
    padding: 1rem;
    overflow-y: scroll;
}

.no-results {
    position: absolute;
    top: 80px;
    background-color: black;
    color:#528FCD;;
    height: 70px;
    padding: 1rem;
    overflow-y: scroll;
}
